[2015-06-05 04:16] shadow0162 opened #8 "how can i used sdk for cocos2d-js?"
Ii'm a game developer. i used cocos2d game engine to develop products.
it's a way to use sdk in cocos2d-js version?

[2015-06-05 07:46] derekmoorecountly commented on #8
Currently we do not have an SDK for cocos2d-js.

[2015-06-05 07:50] shadow0162 commented on #8
So sad

[2015-06-05 07:51] shadow0162 commented on #8
I try to port an SDK on cocos2d-js.

[2015-06-05 14:14] ar2rsawseen commented on #8
Then you would need to implement HTTP call with parameters from this page:
http://resources.count.ly/v1.0/docs/i

[2015-06-11 07:59] shadow0162 commented on #8
I finished th cocos2d-x for countly sdk version.
https://github.com/shadow0162/countly-sdk-cocos2d-x

Any questions, please feel free to contact me

[2015-06-24 07:22] kyugao opened #9 "I got an error when add this plugin to my project"
D:\src_workspace\MyApp>cordova plugin add https://github.com/Countly/countly-sdk-js.git
Fetching plugin "https://github.com/Countly/countly-sdk-js.git" via git clone
Repository "https://github.com/Countly/countly-sdk-js.git" checked out to git ref "master".
shell.js: internal error
Error: EXDEV, cross-device link not permitted 'C:\Users\LANSIO~1\AppData\Local\Temp\git\1435130284828\Countly.js'

[2015-06-24 08:38] trinisofttechnologies commented on #9
Hi, I believe this error isn't related to countly, but should be because of npm or nodejs
you may look here
http://stackoverflow.com/questions/12196163/node-js-fs-rename-doesnt-work

[2015-06-24 08:39] trinisofttechnologies commented on #9
$ npm install -g cordova
npm WARN engine cordova-js@4.0.0: wanted: {"node":"~0.10.x"} (current: {"node":"
0.12.2","npm":"2.7.4"})
npm WARN engine npm@1.3.4: wanted: {"node":">=0.6","npm":"1"} (current: {"node":
"0.12.2","npm":"2.7.4"})
npm WARN engine xmlbuilder@2.2.1: wanted: {"node":"0.8.x || 0.10.x"} (current: {
"node":"0.12.2","npm":"2.7.4"})
npm WARN installMany normalize-package-data was bun

[2015-06-24 08:41] trinisofttechnologies commented on #9
Let me know if this helps your question, so that I can close this issue.
Thanks

[2015-07-02 11:40] nicolsondsouza commented on #9
@kyugao  closing this issue, as not found bug in countly sdk,
please reopen again, if you are still facing issue with integrating the sdk

[2015-07-02 11:40] #9 closed

[2015-12-16 07:06] AlanDan opened #10 "Shoold I need to RecordEvent asyn?"
I found a problem recently on my android device Nexus-5, my app  be came lagging and slow , or even blocked at least 3 seconds. all of these happened just when a RecordEvent method had been invoked. I'm sure of this because when I stopped running RecordEvent, everything became right. It runs nicely till our server of Countly-Service has been stopped for a long while for some reasons. Then I found

[2015-12-16 08:54] trinisofttechnologies commented on #10
@AlanDan, @iartem There are 2 alternatives from here.

1. Is to use the countly web sdk, instead of using, countly phonegap sdk. As, it is using native android java code, and that is common for all.
2. would be @iartem look at this concern and fix the string cache issue in android java code, or provide a suggestion on the same.

Thanks

[2015-12-16 09:18] iartem commented on #10
Hi Guys,

New, largely refactored Android SDK is already on the way. It doesn't block at all and removes lots of synchronizations while still using SharedPreferences inside. So it'll be substantially faster even in this case.

I'd welcome any suggestions for how to store Countly information efficiently while not using SharedPreferences. The thing is, we went off sqlite some years ago because it wa

[2015-12-17 02:45] AlanDan commented on #10
@iartem  By far we've found only one case on one device. For now our app are running on over 200,000 devices, and this kind of issue is rarely reported. Seems like it's only occurred on my test device.  Through the describe of my question above, as you know our Countly-Sevices Server had crashed for a long while, I guess my test phone cached too much data during that time.

[2016-01-02 13:53] YatinGrover opened #11 "Hybrid Mobile app support : Ionic"
I am developing a cross platform app using Ionic Framework and could't find any documentation for integrating countly push notification with angularjs/ionic/cordova.
There is very clear documentation for android and ios separately but same is missing for ionic. The example on github(phonegap example) doesn't run straightaway and the countly.js is lacking explanation on GCM integration.
Can you ple

[2016-01-02 13:55] trinisofttechnologies commented on #11
Ok, will provide you a demo with ionic framework.

Thanks
On Jan 2, 2016 7:23 PM, "Yatin Grover" <notifications@github.com> wrote:

[2016-02-16 17:57] yarivdev commented on #11
A demo would be appreciated greatly.

[2016-02-16 18:19] nicolsondsouza commented on #11
Ok, I can work on this Saturday, and get the ionic demo,

If that works for you?
On Feb 16, 2016 11:27 PM, "yarivdev" <notifications@github.com> wrote:

[2016-02-16 20:16] yarivdev commented on #11
Great. Thanks!

Sent from my iPhone

[2016-02-19 03:39] deliriousrhino opened #12 "Getting Thread 1: EXC_BAD_ACCESS ( code=1 address=0xc) error"
I am getting an error in the recordEvents function on the line NSString *data ( number 790 ) of countly.m
It only happens sometimes after a new install

Error

[code]

Function

[code]

The event object I was sending last

[code]

[2016-02-19 03:43] trinisofttechnologies commented on #12
Ok, will take a look at it, and update you on this issue.

Thanks for letting us know about this issue.
On Feb 19, 2016 9:09 AM, "deliriousrhino" <notifications@github.com> wrote:

[2016-02-20 10:50] trinisofttechnologies commented on #11
https://github.com/trinisofttechnologies/countly_ionic_example.git

Here is the sample application with proper documentation for ionic framework.

Thanks

[2016-02-20 10:51] #11 closed

[2016-03-31 17:00] gorkem-cetin opened #13 "New features for JS SDK"
JS SDK should honor the following items to support new Countly server related features
- [x] be able to set custom device ID upon initialization
- [x] be able to change deviceID at any time in the app (persistently save new device ID and continue using only that)
- [x] be able to change deviceID with data merge on server from old device ID using old_device_id api (http://resources.count.ly/docs/i#

[2016-04-02 10:31] trinisofttechnologies commented on #13
ok,

We have this request,
It's under development.

Thanks

[2016-05-12 16:21] mymanga commented on #13
How soon can we get an update to this SDK seeing how it still has build errors

[2016-05-12 16:46] gorkem-cetin commented on #13
@mymanga please create another issue and paste your build errors there. This issue is not related to build errors.

[2016-05-14 12:30] trinisofttechnologies commented on #13
@mymanga sorry for the delay, I am working on this today, and should have the android version ready.

[2016-05-14 13:17] trinisofttechnologies commented on #13
@mymanga I am assuming, that there is a build error on ios, There is an instruction on the build error, for ios, That's a known issue, and that's the only thing needs to be done manually, rest all is build and compiled automate by the sdk js.

[2016-05-14 22:35] mymanga opened #14 "Android build error"
I am running on;

[code]

When I add countly plugin to my project Iget the following build error;

[code]

After some research, phonegap-plugin-push DOCS say;

`Then at least one other plugin you have installed is using an outdated way to declare dependencies such as `android-support` or `play-services-gcm`.`

[2016-05-15 10:42] gorkem-cetin commented on #13
@erkanyildiz

[2016-05-16 05:12] trinisofttechnologies commented on #14
@mymanga

Let me explain you about this bug,
Countly uses the same phonegap push notification, that you are including it.

So you are including phonegap push notification twice, because that is been include in the coutly sdk js.

So you can use the same countly plugin to use push notification for third party app, as well for countly as well.

Thanks

[2016-05-16 05:12] #14 closed

[2016-05-30 22:26] mymanga commented on #14
This fixed it

Yes I am using two plugins sending push, Countly and Parse-Push-Plugin. A friend suggested that you add "libraries as dependencies in gradle instead of including them manually as jar files". I am not really  java person so I can't really comment.

[2016-09-22 08:29] horrylala opened #15 "ionic countly encounter "Couldn't store configuration in Countly Messaging""
1.i follow up the construction [https://github.com/trinisofttechnologies/countly_ionic_example](https://github.com/trinisofttechnologies/countly_ionic_example) ,but encountered some problems
1)Couldn't store configuration in Countly Messaging
2)i did not get google-play service and i don't  want and need push service ~

how should i do ?
i have push notification in my app .
in my AndroidManifest.x

[2016-09-22 08:32] trinisofttechnologies commented on #15
Hi Horrylala I am looking into this issue.

Thanks

[2016-10-27 09:03] trinisofttechnologies commented on #15
@gorkem-cetin We will need to make countly push in another branch and countly analytics in another branch.

[2016-10-27 09:07] trinisofttechnologies commented on #13
@gorkem-cetin
Picking this issue for android / iOS

Report Views (webpages for webSDK, Activities for Androind, etc) to provide an option to manually track views and an option to track them automatically, if platform supports it

[2016-11-01 06:51] trinisofttechnologies commented on #13
@gorkem-cetin

Working on this issue

 Report Views (webpages for webSDK, Activities for Androind, etc) to provide an option to manually track views and an option to track them automatically, if platform supports it

Thanks

[2016-11-07 11:47] gorkem-cetin commented on #15
No problem with that, we can do it.

[2016-11-14 03:05] TonyWang8904 opened #16 "Using countly-sdk-js with ionic"
Hi, I am using countly-sdk-js with ionic, and I have been successfully ran your demo app. Ionic works wth AngularJS and  I want to use countly in each controller to send event, but console error : ReferenceError: Countly is not defined.
I want to know how to using countly-sdk-js in angularjs Dependency injection.
Demo code
`.controller('DashCtrl', function($scope) {
  Countly.init("http://172.28.1

[2016-11-14 08:18] trinisofttechnologies commented on #16
@TonyWang8904

I see,
in this case you may wanna add the countly.js file manually
[code]
put the above tag in html and
put Countly.js file in your www directory.
https://github.com/Countly/countly-sdk-js/blob/master/Countly.js

Thanks

[2016-11-14 08:18] #16 closed

[2016-11-16 11:57] gorkem-cetin commented on #13
Nicolson - I also added:

* Allow sending metadata with each begin session request (http://resources.count.ly/docs/sdk-development-guide#section-sdk-meta-data)

[2016-11-16 12:26] trinisofttechnologies commented on #15
Note: This request is in implementation.

[2016-11-29 04:42] deliriousrhino commented on #12
Hi, any update about this issue? Our apps are still crashing because of this

[2016-11-29 05:23] trinisofttechnologies commented on #12
A new update has been pushed,

This new update should fix this problem.

Note: It's a totally new revised version.

Re - open this issue again, if you think the problem persits.

[2016-11-29 05:23] #12 closed

[2016-11-29 12:47] trinisofttechnologies commented on #15
Note, master branch only contains core countly features.
Push is now moved in "push" branch.

Thanks

[2016-11-29 12:47] #15 closed

[2016-11-29 12:48] trinisofttechnologies commented on #13
"Report Views" is fixed,

Note: you will require java 1.8 in order to bundle the app.
java 1.7 will faile the auto build.

[2016-11-29 12:50] trinisofttechnologies commented on #10
@iartem

If the new sdk is all async, then you may close this issue,

as per the latest version, the sdk is synced with the latest work done on android sdk.

Thanks

[2016-11-29 12:51] trinisofttechnologies commented on #8
@gorkem-cetin

Please look at this issue, and take appropriate action.

This doesn't look like an issue, from the last comment.

Closing it.

Please re-open, if you think the problem persists.

Thanks

[2016-11-29 12:51] #8 closed

[2016-12-06 14:53] vgorla opened #17 "App Crashes on receiving a push notification"
Hi Countly

I am running the cordova countly SDK client. On receiving the message from the GCM the app is crashing with below error.

Can you please help?

Class not found when unmarshalling: ly.count.android.sdk.messaging.Message
E/Parcel  (  848): java.lang.ClassNotFoundException: ly.count.android.sdk.messaging.Message
E/Parcel  (  848): 	at java.lang.Class.classForName(Native Method)
E/Parcel

[2016-12-06 14:55] vgorla commented on #17
The solution to the above problem is add below to the platforms/android/AndroidManifest.xml within the <application> tags.

<activity android:label="@string/app_name" android:name="ly.count.android.sdk.messaging.ProxyActivity" android:noHistory="true" android:theme="@android:style/Theme.Translucent" />

[2016-12-06 14:55] #17 closed

[2017-01-11 09:06] gorkem-cetin commented on #13
Lets commit features we have, and make a release please :)

[2017-03-14 11:07] erkanyildiz opened #19 "Unused files/folders"
Unusued files/folders like `Countly.xcdatamodeld`, `.DS_Store` needs to be removed

[2017-03-14 11:16] erkanyildiz opened #20 "SDK meta data"
Request coming through JS SDK needs to send its own SDK meta data (version and name) for both iOS and Android.

Please edit these lines as below:
`2.2` (or `2.2.1` if you plan to make a new release)
`js-cordova-ios`

iOS
https://github.com/Countly/countly-sdk-js/blob/master/src/ios/sdk/CountlyCommon.m#L19
https://github.com/Countly/countly-sdk-js/blob/master/src/ios/sdk/CountlyCommon.m#L20

Androi

[2017-04-23 14:41] #10 closed

[2017-05-11 07:56] erkanyildiz commented on #20
@trinisofttechnologies any progress with this one?

[2017-05-11 08:06] trinisofttechnologies commented on #20
Ohh, @erkanyildiz

This issue was never assigned to me.

@gorkem-cetin
Please assign this issue to me.
I am unable to assing this issue to myself.

[2017-05-11 08:06] trinisofttechnologies commented on #19
ok, I will clean those files and push that to the master.

[2017-05-11 08:06] gorkem-cetin commented on #20
Assigned.

[2017-05-11 08:08] trinisofttechnologies commented on #13
@gorkem-cetin

If the list is complete,
We can cloes this issue.

Thanks

[2017-05-11 08:10] gorkem-cetin commented on #13
It looks like there are still 3 items here to get done, can you check them ? If you think you are done, we can close.

[2017-05-11 08:19] trinisofttechnologies commented on #13
ok

[2017-05-22 07:12] trinisofttechnologies commented on #20
This changes are merged with dev-trinisoft branch

Will merge with master when we will make a release.

Thanks

[2017-05-22 07:12] trinisofttechnologies commented on #19
This issue is fixed in dev-trinisoft branch.

Will merge it to master when making a new release.

Thanks

[2017-05-22 07:12] #19 closed

[2017-05-22 07:17] trinisofttechnologies commented on #13
@gorkem-cetin

Please provide more info

"report local user hour (0-23) together with timestamp (meaning with each request and in each event)"

"report local user day of the week (0-sunday, 1 - monday, ... 6 - saturday) together with timestamp (meaning with each request and in each event)"

I do not see these method calls in both the sdks

Thanks

[2017-05-22 11:17] gorkem-cetin commented on #13
We can remove them. I think it was planned but wasnt realized.

[2017-05-22 11:18] trinisofttechnologies commented on #13
ok, so that means all the issues are completed.

So I can mark this issue as complete.

As the remaining issues are all fixed.

Thanks

[2017-05-22 11:21] #13 closed

[2017-08-16 12:26] kwv opened #21 "addCrashLog missing in Countly.js"
The [documentation ](http://resources.count.ly/v1.0/docs/phonegap-icenium-meteor#section-crash-reporting) refers to manually adding crash log:
[code]

This API does not appear to be implemented (yet?) in [Countly.js](https://github.com/Countly/countly-sdk-js/blob/master/Countly.js).

Is the intent of the API for application managed non-fatal errors (e.g. gracefully caught 500 responses)?

From tra

[2017-08-16 17:46] trinisofttechnologies commented on #21
I will check again on master branch.

On 16-Aug-2017 10:00 PM, "Görkem Çetin" <notifications@github.com> wrote:

[2017-08-17 09:32] trinisofttechnologies commented on #20
ok, working on it.

[2017-08-17 11:09] gorkem-cetin opened #22 "SDK does not honor Countly.messagingMode.TEST when initializing messaging"
Android devices are treated as production devices, even though marking them as “Countly.messagingMode.TEST” when initializing messaging inside app.

[2017-08-19 04:37] trinisofttechnologies commented on #20
Now get it.

This is fixed in this commit.

1f5d04088f8e03548d6f0ad3f94b57ef83926100

[2017-08-19 04:37] #20 closed

[2017-08-19 04:48] trinisofttechnologies commented on #21
@kwv

Sorry, I checked it, and seems like this method wasn't implemented.

I have added the method now, in this 550fefb12f38f594cda78ce527e380be2c219495 commit.

Thanks

[2017-08-19 04:48] #21 closed

[2017-08-19 04:49] trinisofttechnologies commented on #22
ok

[2017-08-19 19:57] gorkem-cetin opened #23 "Rich push notifications not working on Cordova"
Rich push notifications tested on HTC One M8, Samsung Galaxy S6, LG G5 and iPhone 6S devices – same result.

[2017-08-20 13:20] gorkem-cetin opened #24 "Update SDK to support latest Ionic + Cordova"

[2017-08-21 13:03] trinisofttechnologies commented on #24
@gorkem-cetin

The latest cordova version is 6.x and it is supported by this sdk,

The future release of cordova is 7.x which isn't release yet.
So we wait until it is released and then work on the sdk, to avoid unwanted work.

[2017-08-24 06:47] trinisofttechnologies commented on #24
A test was conducted for latest cordova version: 7.0.1

And it behaves properly.

ionic.countly.ts is added for ionic 2.0 supported

[2017-08-24 06:47] #24 closed

[2017-08-24 08:08] trinisofttechnologies commented on #22
Test on android, now shows production device token
Test on iOS not confirmed, but device token shows up.

[2017-08-24 08:08] #22 closed

[2017-08-31 10:23] trinisofttechnologies opened #25 "issue in sending analytics with app signed with enterprise account."
The issue is:

I have signed the app with my personal account, and the ananyltics is working.

But when I signed the app with enterprise account the analytics doesn't work on iOS.

[2017-12-12 07:46] CDann3r opened #26 "EndEvent doesn't send Segmentation"
Events that are created with startEvent("Event") and ended with additional information via endEvent({eventName:"Event",countCount:1,segments:{...}}) will not be sent completely to the countly server.

[2017-12-12 07:50] CDann3r commented on #26
I already found the solution to this problem in the countly.js

The code part that determines the eventType is not setting all possible Types:
Original code within Countly.endEvent():

    if(options.segments && options.eventSum)
        eventType = "eventWithSumSegment";

This code should be enriched with the other event types like:

    if(options.segments && options.eventSum)
        eventType

[2017-12-12 08:30] CDann3r commented on #26
my bad... I used the version 2.2.0 that is published on https://www.npmjs.com/package/cordova-plugin-countly

[2017-12-12 09:36] CDann3r commented on #26
sorry for the confusion... the Method sendEvent has the right differentiation regarding the event type but endEvent does not... This fix still needs to be supplied.

[2017-12-12 09:37] CDann3r commented on #26
Countly.sendEvent = function(options){
    var args = [];
    var eventType = "event"; //event, eventWithSum, eventWithSegment, eventWithSumSegment
    var segments = {};

    if(options.eventSum)
        eventType = "eventWithSum";
    if(options.segments)
        eventType = "eventWithSegment";
    if(options.segments && options.eventSum)
        eventType = "eventWithSumSegment";

Countly.endEv

[2017-12-12 12:13] #25 closed

[2017-12-18 19:05] trinisofttechnologies commented on #26
@CDann3r Thanks for the update, I will check with @gorkem-cetin

And see how to is this supported with other sdks.

Thanks

[2017-12-23 01:12] rajeshyandamuri commented on #23
Hi Gorkem,

Regular notifications also not working for us. We have integrated Native iOS SDK and its working fine. While we use it in Cordova ionic project(Android + iOS) the general push also not working. Please share us any step by step provess to integrate in mobile cross platform (Angular + ionic).

Thanks in advance.

[2018-01-02 08:41] trinisofttechnologies commented on #23
This is the same issues as this one

https://community.count.ly/t/ionic2-couldnot-install-sdk-for-android/294/18

https://community.count.ly/t/push-notifications-angular-application-for-ios-android/301

All these will be counted as one issue.

[2018-01-02 08:41] trinisofttechnologies commented on #23
Please install this plugin  https://github.com/phonegap/phonegap-plugin-push

and make sure you are able to register your device and get a push token

https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/API.md#pushonregistration-callback

Use this method to verify you are able to get push device token.

If you are able to get the push device token then countly sdk can just send that

[2018-01-16 06:26] trinisofttechnologies commented on #26
ok, I am working on this issue, will report on this by tomorrow.

[2018-01-16 11:47] CDann3r commented on #26
Hi, please check the following Pull Request.
https://github.com/Countly/countly-sdk-js/pull/27
Thanks

[2018-01-16 12:43] trinisofttechnologies commented on #26
Ok

On 16-Jan-2018 5:17 PM, "CDann3r" <notifications@github.com> wrote:

[2018-01-23 12:36] trinisofttechnologies commented on #26
@gorkem-cetin

This issue is stil pending.

As the pull request didn't had the change I was expecting.

[2018-02-05 10:15] BigBlackAndWhitePanda opened #28 "Don’t receive push notifications on iOS with Cordova SDK"
We've got a problem with receiving iOS push notifications(We work with Cordova SDK). We set APN Auth key and after that we initialize device, receive registration id from APN, but still can't' receive notifications on device.

Commands we used:
[code]
On dashboard we have something like this:
![123](https://user-images.githubusercontent.com/15383558/35799318-5ff5c76e-0a76-11e8-9630-b8b1407ce66c.pn

[2018-02-05 12:04] gorkem-cetin commented on #28
Can you try to clear your cache and refresh page again? There seems to be an issue description there but somehow it is not viewed. Thanks!

[2018-02-05 16:02] nicolsondsouza commented on #28
@BigBlackAndWhitePanda

This issue is being worked on.

[2018-02-05 16:20] nicolsondsouza commented on #28
@BigBlackAndWhitePanda For me it is still working.

I will make a video recording on the same, and put that on a drive so that you can follow it and get the push implemented.

Thanks

[2018-02-05 17:27] nicolsondsouza commented on #28
https://drive.google.com/open?id=1xJnuWUw5DCY_KEVVQIb2oHNV7BhclK62

Please see the above link.

Closing this issue, as it is working correctly as expected.

Thanks

[2018-02-06 08:00] #28 closed

[2018-02-07 04:43] trinisofttechnologies commented on #26
in progress

[2018-02-12 09:47] trinisofttechnologies commented on #26
android in testing mode

[2018-02-19 17:47] gorkem-cetin opened #29 "Device & OS version not sent correctly"
OS version and device name cannot be sent (eg Galaxy S7, Android 8.1., iphone 7, iOS 11)

[2018-02-20 13:47] Michenux commented on #29
Just made a new test. It is working with the countly-sdk-js.

The issue is when using the cordova-sdk-web inside a cordova application.

[2018-02-20 13:51] trinisofttechnologies commented on #29
@michenux

That explains the situation.

cordova sdk web is only for browser.

There detailing on the phone is not available unless you have native access.

You can consider shifting to countly-sdk-js

As it is a better version / control over analytics on it.

Thanks

[2018-02-20 13:51] #29 closed

[2018-02-20 14:30] Michenux opened #30 "Enable javascript error logging"
Hi,

I would like to be able to log javascript errors with the Cordova Countly JS SDK.

A quick-win would be to add a Countly.log_error(string) method.
And we will use it like this :
Countly.log_error(JSON.stringify(err));

U can have a look at the cordova countly web sdk too :
[recordError](https://github.com/Countly/countly-sdk-web/blob/2f7e4ffbd5b17a7422a7a9bcfb2830d299f69572/lib/countly.js#L13

[2018-02-22 08:47] gorkem-cetin commented on #23
As a side note, rich push notifications work on Android but not on iOS (due to framework used).

[2018-02-22 08:47] #23 closed

[2018-02-26 07:02] trinisofttechnologies commented on #26
Please look at this documentation for start and end event with custom segmentation.

https://resources.count.ly/v1.0/docs/phonegap-icenium-meteor#section-custom-events

Thanks

[2018-02-26 07:02] #26 closed

[2018-02-28 07:32] trinisofttechnologies commented on #30
@Michenux

As per the latest master branch this issue is fixed.

app.addCrashLog = function(){
        Countly.addCrashLog("User Performed Step A");
        setTimeout(function(){
            Countly.addCrashLog("User Performed Step B");
        },1000);
        setTimeout(function(){
            Countly.addCrashLog("User Performed Step C");
            console.log("Opps found and error");

[2018-03-06 14:28] Michenux commented on #30
About logging an Error object, i have used this :

[code]
In the web interface, i get the following. Not perfect because i don't care about the java stackstrace, i only care about the JS stack.

![image](https://user-images.githubusercontent.com/650789/37037519-c282e720-2152-11e8-9aed-34117bda0b71.png)

Do you think you can improve that ?

[2018-03-06 14:34] trinisofttechnologies commented on #30
Yes, I will look into it.

Yes we can improve that.

[2018-03-20 20:09] Michenux commented on #30
Any news ?

[2018-03-21 17:19] trinisofttechnologies commented on #30
in progress

[2018-03-22 09:50] trinisofttechnologies commented on #30
This issue is fixed and documentation is updated.

Please review the documentation before implementing the latest version.

You will need to add stacktrace.js manually as per example here:

https://github.com/Countly/countly-sdk-js/blob/master/index.html#L61

Let me know if there is anything more to be added.

Thanks

[2018-03-22 09:50] #30 closed

[2018-06-29 07:44] sunojvijayan opened #31 "Does this work in Ionic 3"
Hi will this plugin work in Ionic 3?

[2018-06-29 08:36] gorkem-cetin commented on #31
Github is for issues only. Please send your question to https://community.count.ly or to our Slack channel (https://slack.count.ly)

[2018-06-29 08:36] #31 closed

[2018-07-25 13:35] canercanbaz opened #32 "No example for ionic 3"
Hi,

I would like to use your services like push notifications for my ionic 3 project. However, I could not find any concrete example using Countly on the web. Could you please provide an example for Ionic 3 if you have any chance to do so? Thank you in advance.

[2018-07-26 08:40] trinisofttechnologies commented on #32
Ok, I will review ionic 3.0 framework and provide with a demo / time estimation on completing this issue.

Thanks

[2018-07-30 07:13] canercanbaz commented on #32
Thanks for the immediate reply. I am looking forward to have a demo from you.

[2018-07-30 09:14] trinisofttechnologies commented on #32
Hi @canercanbaz

Here is an example for ionic 2.0, which is same for the ionic 3.0

https://github.com/trinisofttechnologies/countly-demo-ionic-2.0

Thanks

[2018-07-30 09:14] #32 closed

[2018-08-05 12:34] canercanbaz commented on #32
I successfully established the connection between the application and the dashboard. I can see 1 online user etc. However, I cannot send a push notification to my app. It says there is no push-enabled user.

[2018-08-05 14:25] gorkem-cetin commented on #32
I think you enabled push and then your token is sent right? Make sure to let us know all the steps you did.

[2018-08-05 14:41] canercanbaz commented on #32
I enabled the push finally. However, when I sent the push notification it says

GCM 200 message error
(MismatchSenderId)

Most probably Countly competes for tokens with other GCM / Firebase SDK you have in your app. Please override the way Countly or another SDK get a token so they would end up using the same token.

I can't get this work.

[2018-08-06 15:29] trinisofttechnologies commented on #32
Hi,

I am running this on my own mac

And trying to make a tutorial video.

However you should make a new issue.

As this issue says ionic 3.0 demo.

Future users would also like to get an idea over this.

Note: I haven't got any success yet, so I am still trying to assemble all the pieces on FCM.

Thanks

[2018-08-07 11:20] canercanbaz opened #33 "GCM 200 message (MismatchSenderId) Push Notification"
Hi, I could not get over this issue for a couple of days. It says it sends push notification successfully. However, when I go and see the details of the sent message. It says:

I need Countly for push notification facility, but I can't use or set it up correctly.

[2018-08-21 08:57] gorkem-cetin commented on #33
@canercanbaz is this issue still ongoing? Did you check the given message ?

[2018-08-22 16:35] canercanbaz commented on #33
Yes, it still exists. The thing is my trial account is about to expire and I can't even try the push notification facility of Countly.

[2018-10-15 03:43] gorkem-cetin commented on #33
As per the message, do you have any other SDKs that competes with Countly SDK?

[2018-10-29 14:07] gorkem-cetin opened #35 "Clean up commented code where necessary"
There might be excess number of commented code. We should clean up all commented code which is unnecessary.

[2018-10-29 14:18] gorkem-cetin opened #36 "Versioning unification"
There are four versions in the plugin: The tag is 2.6, package.js is 0.0.3, package.json is 1.1.0 and plugin.xml is 0.0.1. We should unify those.

[2018-10-30 05:15] trinisofttechnologies commented on #36
Fixed in this commit.

4e7fecf1aef7277310160a10a14851ff5d3862cc

[2018-10-30 05:15] #36 closed

[2018-10-30 05:15] trinisofttechnologies commented on #35
Fixed in this commit.

4e7fecf1aef7277310160a10a14851ff5d3862cc

[2018-10-30 05:15] #35 closed

[2018-11-12 15:16] gorkem-cetin commented on #33
Closing this issue but please reopen if you think you dont have another SDK that competes with Countly SDK.

[2018-11-12 15:16] #33 closed

[2018-11-26 11:56] Michenux opened #39 "Unable to load PlatformApi from platform. Error: Cannot find module"
Hi,

I think something is not correct in the build process when i use this plugin.

First, my environnement:
cordova 8.1.2
cordova ios 4.5.5

I have created a cordova project and i have added the plugin with the command in the documentation.
[code]
** In package.json:
Dependencies:
[code]
Cordova part:
[code]

** In config.xml
[code]

When in run "cordova platform add ios@4.5.5", it works but i go

[2018-11-26 12:02] trinisofttechnologies commented on #39
Ok, I will try to emulate your steps and see from a fresh user.

Where things may be wrong.

Also yeah, will look into the naming convention as it's different.

Thanks for the issue.

[2018-11-28 06:59] trinisofttechnologies commented on #39
Ok, changed 2 different naming convention into one.

Changes can be reviewed here.

https://github.com/Countly/countly-sdk-js/commit/2fbe2054bb8cf9587f6b8b1fbcc79ab31ae8bd70

@Michenux

Thanks for your view point on the naming convention.

As we are using countly-sdk-js mostly all over the places,

I have replaced ly.count.cordova to countly-sdk-js

Let me know if there is any more trouble / chang

[2018-12-03 09:46] Michenux commented on #39
This is great for the naming convention but it did not resolve the error.

[code]

Everything is fine at the moment.
Now :

[code]

Can u reproduce the same ?

[2018-12-03 13:52] trinisofttechnologies commented on #39
ok, I couldn't reproduce the issue on the first try.

I will follow your steps, and confirm on the problem.

[2018-12-04 12:37] trinisofttechnologies commented on #39
log 1
[take2]$ cordova create testcordova com.mycompany.testcordova testcordova
Creating a new cordova project.
[take2]$ cd testcordova
[testcordova]$ cordova platform add ios
Using cordova-fetch for cordova-ios@~4.5.4
cordova plugin add https://github.com/Countly/countly-sdk-js.git
Adding ios project...
Creating Cordova project for the iOS platform:
	Path: platforms/ios
	Package: com.mycompany.te

[2018-12-04 12:42] trinisofttechnologies commented on #39
[take2]$ cordova create testcordova com.mycompany.testcordova testcordova
Creating a new cordova project.
[take2]$ cd testcordova
[testcordova]$ cordova platform add ios
Using cordova-fetch for cordova-ios@~4.5.4
Adding ios project...
Creating Cordova project for the iOS platform:
	Path: platforms/ios
	Package: com.mycompany.testcordova
	Name: testcordova
iOS project created with cordova-ios@4.5.5

[2018-12-04 12:43] trinisofttechnologies commented on #39
@Michenux

Please review the log above,

I am not getting the same error,

I am using mac, with cordova, and iOS version same as you.

[2018-12-04 12:46] trinisofttechnologies commented on #39
BTW, you shouldn't remove the plugins folder.

But in my example, even if I did, there wasn't any problem with it.

So, something might be wrong in your platform.

Can you give me more precise details on your platform,

so that I can try on those specific variant.

OS: macOS
version: Mojave
cordova: I have it.
ios: I have it.

and anything that you can add.

Thanks

[2018-12-06 16:23] trinisofttechnologies commented on #39
Yes, it is true.

It is related to npm / nodejs.

And for me it still works.

So hoping that is not a error from the plugin,

but something to do in the platform.

The official way to add cordova plugins is:

cordova plugin add this_plugin

npm install isn't the official way, but works!!

Let me know, if there requires my input / discussion.

I will be happy to help!

[2018-12-06 16:25] Michenux commented on #39
The fact is that i have only the problem with this cordova plugin.

[2019-01-10 02:33] anilo commented on #23
Any update on rich push notification on iOS?

[2019-01-10 17:58] gorkem-cetin opened #40 "Implement Ratings & Feedbacks"
For more information:

https://count.ly/plugins/ratings-and-feedback

https://resources.count.ly/docs/sdk-development-guide#section-star-rating

[2019-01-10 17:59] gorkem-cetin opened #41 "Implement Compliance Hub functions (GDPR-related)"
For more information:

- https://resources.count.ly/docs/compliance-hub
- https://resources.count.ly/docs/sdk-development-guide

[2019-01-10 18:01] gorkem-cetin commented on #23
Unfortunately the 3rd party library we used for this purpose doesn't yet support rich push notifications for iOS, hence we don't support. We are always keeping an eye and as soon as this feature is released, we will implement.

[2019-01-21 23:10] gorkem-cetin opened #42 "Rich push notifications for iOS"
Implement rich push notifications for Cordova iOS SDK.

[2019-02-04 17:52] gorkem-cetin commented on #42
This one has been implemented in latest SDK.

[2019-02-04 17:52] #42 closed

[2019-02-05 09:31] trinisofttechnologies commented on #42
Please review this video for push notification for iOS

https://drive.google.com/file/d/1HV1Zm9gHmEigpDp50U6_i_B2cjoQY7Cs/view?usp=sharing

[2019-02-06 07:32] trinisofttechnologies commented on #40
working on it.

[2019-02-06 12:33] trinisofttechnologies commented on #40
![screenshot 2019-02-06 at 6 03 02 pm](https://user-images.githubusercontent.com/10754117/52341763-7cfd7a80-2a39-11e9-80ac-fb04ee8d161a.png)
Rating modal in progress.

[2019-02-06 18:57] andreialecu commented on #40
I'm just trying this plugin, the readme said to use this github repo as the source of the plugin.

Seeing this error, I assume it's because of the work being done here:

![image](https://user-images.githubusercontent.com/697707/52366184-c78af100-2a51-11e9-9788-e34ee036bc3c.png)

[2019-02-07 08:40] trinisofttechnologies commented on #40
Oops sorry, I should have pushed to dev branch.

This is fixed and pushed.

[2019-02-07 08:42] trinisofttechnologies commented on #40
Rating UI, and JS implementation fixed and pushed to master branch.

Working on Feedback implementation.

[2019-02-07 08:43] trinisofttechnologies commented on #40
@andreialecu, sorry for pushing into wrong branch.

Please update the plugin and it should work.

[2019-02-07 10:11] andreialecu opened #43 "App crash on iOS with sendEvent and segments"
I'm just implementing this plugin and saw my iOS app hard-crash while calling `Countly.sendEvent`

Upon inspection, I think it is because I didn't have `eventCount` properly defined on the parameter to `sendEvent`. After setting `eventCount` to 1 it stopped crashing.

Relevant lines:
https://github.com/Countly/countly-sdk-js/blob/master/Countly.js#L52
https://github.com/Countly/countly-sdk-js/blob

[2019-02-07 17:07] gorkem-cetin commented on #43
Many thanks @andreialecu  - let's check this :-)

[2019-02-08 09:01] trinisofttechnologies commented on #43
Yes, I have defaulted it to 1, but I will check it.

[2019-02-08 09:06] trinisofttechnologies commented on #43
Yes, defaulted the count to 1, it was missing.

I will have a test example for it, where multiple data type missing, and confirming the sdk doesn't crash.

[2019-02-08 09:06] #43 closed

[2019-02-08 09:07] trinisofttechnologies commented on #40
working on feedback modal.

[2019-02-19 12:25] trinisofttechnologies opened #45 "Upgrade ts"
Referring to this issue.

https://community.count.ly/t/sorry-there-are-no-push-enabled-users-for-specified-options-ionic/662

Upgrade typescript work.

[2019-02-20 11:58] trinisofttechnologies commented on #45
I have updated only push notification method.

So you can use it at the moment.

I will update the reset of the SDK later on.

Thanks

[2019-02-20 12:00] trinisofttechnologies commented on #45
https://github.com/Countly/countly-sdk-js/blob/master/ionic/home.page.ts#L159

[2019-02-27 16:37] khalilbhs opened #46 "Don’t register ios users push notification after the update 18.08.1 Ionic"
I integrated the phonegap push and count.ly plugins into my ionic project , I configured the push server and I get the push token . I still have this problem No user can enable push for the specified options
just for iOS for Android OK .
![sans titre123456](https://user-images.githubusercontent.com/48063667/53506480-58d00f00-3ab6-11e9-87e6-304ca930c7dd.png)

![68065af3cc0fa07d4ed13fc3070ae58936beb

[2019-03-06 15:56] khalilbhs commented on #46
I had this error message I do know if he can inpact the execution ??
![ioscountly](https://user-images.githubusercontent.com/48063667/53894683-d228ae00-4030-11e9-803d-0462afaadeeb.png)

[2019-03-07 13:31] khalilbhs commented on #46
the problem in this function add in the last update is not allowed by ios divice
![fonction](https://user-images.githubusercontent.com/48063667/53959987-5d637b80-40e5-11e9-93ac-26b431e4bb3a.png)
![fonction1](https://user-images.githubusercontent.com/48063667/53960081-98fe4580-40e5-11e9-982e-5ba59db7a65f.png)
which generated this authorization error

![](https://user-images.githubusercontent.com/48

[2019-03-11 14:28] khalilbhs commented on #46
The server (that the POST request is sent to) needs to include the Access-Control-Allow-Headers header (etc) in its response. Putting them in your request from the client has no effect.

This is because it is up to the server to specify that it accepts cross-origin requests (and that it permits the Content-Type request header, and so on) – the client cannot decide for itself that a given server sh

[2019-05-09 14:22] be-ndee opened #48 "Is there a reason for the crash log string length limit?"
When adding a crash log, the string-length is limited to 1000 chars. Is there a reason for this limit?

```const NSInteger kCountlyCustomCrashLogLengthLimit = 1000;```

[2019-05-09 14:50] gorkem-cetin commented on #48
CC @erkanyildiz since it may be related to iOS SDK too.

[2019-05-11 12:20] erkanyildiz commented on #48
If I recall correctly, this was a requirement by Countly Server's Crashes section UI.

[2019-05-13 19:27] be-ndee commented on #48
Alright, thanks for the answer. I will have a look at server code.

[2019-05-14 11:03] serpaulius opened #49 "[Cordova] [iOS] Manually set location does not appear in Countly User Profile"
Hello,

We are using `Countly.setOptionalParametersForInitialization` function in both Android and iOS and passing _latitude/longitude_ numbers like this:

`{"countryCode":"DK","latitude":56,"longitude":10}`

This works well on Android devices - however, it does not work on iOS devices - the coordinates are saved to Countly user, but they are not resolved to any _country_ and _city_ (both displaye

[2019-05-14 16:11] trinisofttechnologies commented on #49
Yes that is correct, it requires float value.

Mostly the coordinates are in float.

I will convert the integer value to float in SDK so there is no conversion error.

[2019-05-14 16:18] trinisofttechnologies commented on #49
I will fix this in an hour, and update this issue.

Thanks

[2019-05-14 16:34] trinisofttechnologies commented on #49
Added padding float value, if integer found.

https://github.com/Countly/countly-sdk-js/commit/0bc7e877329c2aa0349d69a16ac7517e7134fb1f

There is the fix.

[2019-05-14 16:34] #49 closed

[2019-05-15 07:16] serpaulius commented on #49
Thank you!

[2019-05-23 09:24] baptisteArnaud commented on #40
Hello, I'd like to implement this plugin on my Ionic (Cordova) app. I want to use a widget I created with  styled components :
![image](https://user-images.githubusercontent.com/16015833/58241433-4845d280-7d4d-11e9-9e6c-005055b55bdf.png)
Is this possible ?

[2019-06-05 10:18] baptisteArnaud commented on #40
@trinisofttechnologies I implemented it on my own. It uses the widget `iframe` configured in dashboard. Do you want me to make a pull request or you don't want `iframe` usage for this Javascript SDK ? (I implemented something that work with Ionic app)

[2019-07-03 12:01] trinisofttechnologies commented on #46
@khalilbhs

This is a known issue.

This is reported by another customer.

Now I realize how it is happening.

Will fix it in the next release.

Thanks

[2019-07-15 10:43] trinisofttechnologies commented on #45
SDK upgraded.

[2019-07-15 10:43] #45 closed

[2019-07-15 10:44] trinisofttechnologies commented on #46
This issue is fixed in the latest release.

Now it doesn't go through the Ajax process, instead uses the sdk to send token.

[2019-07-15 10:44] #46 closed

[2019-07-22 08:17] trinisofttechnologies opened #51 "Queue methods when not init"
Queue method calls when init is not called,

As the analytics are all over the place.

And don't know if the inits where called.

Issue created from slack on behalf of "Bramzor"

Thanks

[2019-12-19 16:53] Michenux opened #54 "Compilation error on CountlyCordova.java"
Hi, we have a compilation error with the following env :
- cordova-android 6.4.0
- java 8
- compilation in 1.7

[code]

I think you add "final" to the parameter callbackContext in the method definition.

Best regards
Laurent M.

[2020-02-25 21:34] ingageco opened #55 "Capacitor Support?"
Any chance this supports Capacitor apps?

[2020-02-28 04:37] nicolsondsouza commented on #55
Yes, Capacitor does support Cordova plugin.

I will update this thread to inform you if it is also supported in capacitor as well.

[2020-02-28 04:39] ingageco commented on #55
Not every Cordova plugin works with Capacitor - just asking to see if the Countly JS Cordova plugin had been specifically tested on Capacitor?

Thank you for the response!

[2020-03-11 05:48] trinisofttechnologies opened #57 "Ability to clear environment data"
From customer Danny Lopes

I know it’s been sometime and I have been working on a couple other projects myself so I apologize for not keeping this topic alive but I wanted to follow up on if you were able to complete making the Countly.sharedInstance method available so that we can manually clear the Countly environment data when switching our environments on a device.

The SDK currently does kind

[2020-03-13 13:16] trinisofttechnologies commented on #40
This is fixed and pushed in current version.

countly.askForFeedback("5e425407975d006a22535fc", "close");

https://support.count.ly/hc/en-us/articles/360037813011-Phonegap-Icenium-Meteor#star-rating-dialog

[2020-03-13 13:16] #40 closed

[2020-03-13 13:17] trinisofttechnologies commented on #41
It is implemented.

Documentation available here:

https://support.count.ly/hc/en-us/articles/360037813011-Phonegap-Icenium-Meteor#user-consent-management

[2020-03-13 13:17] #41 closed

[2020-03-13 13:46] trinisofttechnologies commented on #55
Hi @ingageco

Unfortunately, it doesn't support capacitor.

As it has a different architecture than cordova.

It has to be written from scratch,

I will check with my superior,

If we want to make a bridge for it.

Thanks

[2020-03-13 13:51] trinisofttechnologies commented on #55
@ingageco

At the moment, we don't have any plan to support capacitor.

But in the future based on the popularity of the framework we may decide to create one.

I will close the issue now.

Thanks

[2020-03-13 13:51] #55 closed

[2020-03-13 14:04] trinisofttechnologies commented on #57
Ok, working on this support.

[2020-03-16 14:55] trinisofttechnologies commented on #57
Countly.halt()

Method added.

As per Android dev, this resolves the issue.

[2020-03-16 14:55] #57 closed

[2020-03-16 14:56] trinisofttechnologies commented on #51
Native SDK is already queuing information,

So the bridge sdk re doing it again isn't possible.

Closing the issue.

Please make sure to do init at the very begging of the app to resolve this.

[2020-03-16 14:56] #51 closed

[2020-03-16 15:12] trinisofttechnologies commented on #48
Closing this issue, as not active.

Please re open if you think your issue is not resolved.

[2020-03-16 15:12] #48 closed

[2020-03-16 15:14] trinisofttechnologies commented on #54
Hi @Michenux

Good to see you again.

I didn't receive a notification on this issue.

While I was reviewing some other issue,

I saw yours,

Are you still facing this issue?

Please take a latest pull and see if the problem persists.

Note:

The new version is totally upgraded to pod and gradle version.

Let me know if you have trouble upgrading as well.

Thanks

[2020-04-27 19:27] adammeyer opened #60 "google-services.json requirement"
[code]

Getting this error when building my app.  I understand this is required if you want to use Android push notifications, but what if I just want to capture analytics, how can this error be resolved?

Thanks

[2020-05-23 09:00] JuanVanH commented on #60
Having the same issue

[2020-05-23 14:44] ArtursKadikis commented on #60
Hello, yes it's required for using push notifications on android. If you would want to remove it, you would have to do these steps for Cordova:
* go into "plugins" folder
* open "fetch.json" and remove entry for "cordova-support-google-services"
* open  "android.json" and remove entry for "cordova-support-google-services"
* delete "cordova-support-google-services" folder
* go into our SDK folder i

[2020-05-23 14:44] #60 closed

[2020-05-23 14:46] #54 closed

[2021-04-09 15:07] #39 closed